[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
inflection = "*"
python-dotenv = "*"
pytz = "*"
sqlparse = "*"
tzdata = "*"
django-extensions = "*"
django-filter = "*"
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.9"
