{% extends 'base.html' %}

{% block content %}

        <h1>GESTION PEDIDOS</h1>
                
                {% for articulos in all_posts_list %}
                        {{articulos}}
                {% endfor %}
        <br>
                <h1>GESTION HOME</h1>
                {% if articulos %}
                        {% for articulo in articulos %}
                                {{articulo.name}}|{{articulo.section}}                                
                        {% endfor %}

                        
                {% else %}
                        <p>No hay Articulos</p>
                {% endif %}

                {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}


{% endblock %}